.container {
  width: 100%;
  margin-top: 4rem;
  border: 1px solid #ececec;

  &-table {
    width: 100%;
    font-size: 12px;

    td:nth-child(1) {
      min-width: 15rem;
    }

    img {
      width: 22px;
      height: 22px;
      margin: 0.6rem 0.4rem;
      vertical-align: middle;
    }

    a {
      color: #1565c0;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .container {
    &-table {
      td:nth-child(1) {
        min-width: 12rem;
      }
    }
  }
}
