<div class="container">
  <!-- EAST -->

  <table mat-table [dataSource]="east" class="container-table">
    <ng-container matColumnDef="teamName">
      <th mat-header-cell *matHeaderCellDef>TEAM</th>
      <td mat-cell *matCellDef="let team">
        <img [src]="logo + [team.name] + '.png'" />
        <a routerLink="/teams/{{ team.id }}"> {{ team.teamName }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="wl">
      <th mat-header-cell *matHeaderCellDef>W-L</th>
      <td mat-cell *matCellDef="let team">
        {{ team.totalWins }}-{{ team.totalLosses }}
      </td>
    </ng-container>

    <ng-container matColumnDef="pct">
      <th mat-header-cell *matHeaderCellDef>PCT</th>
      <td mat-cell *matCellDef="let team">
        {{ removeLeading(team.winPct | number : "1.3-3") }}
      </td>
    </ng-container>

    <ng-container matColumnDef="gb">
      <th mat-header-cell *matHeaderCellDef>GB</th>
      <td mat-cell *matCellDef="let team">{{ team.gamesBehind }}</td>
    </ng-container>

    <ng-container matColumnDef="pf">
      <th mat-header-cell *matHeaderCellDef>PF</th>
      <td mat-cell *matCellDef="let team">{{ team.pointsFor }}</td>
    </ng-container>

    <ng-container matColumnDef="pa">
      <th mat-header-cell *matHeaderCellDef>PA</th>
      <td mat-cell *matCellDef="let team">{{ team.pointsAgainst }}</td>
    </ng-container>

    <ng-container matColumnDef="diff">
      <th mat-header-cell *matHeaderCellDef>DIFF</th>
      <td
        mat-cell
        *matCellDef="let team"
        [style.color]="team.pointsDiff > 0 ? 'green' : 'red'"
      >
        {{ team.pointsDiff }}
      </td>
    </ng-container>

    <ng-container matColumnDef="strk">
      <th mat-header-cell *matHeaderCellDef>STRK</th>
      <td
        mat-cell
        *matCellDef="let team"
        [style.color]="team.strk.includes('W') ? 'green' : 'red'"
      >
        {{ team.strk }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- WEST -->

  <table mat-table [dataSource]="west" class="container-table">
    <ng-container matColumnDef="teamName">
      <th mat-header-cell *matHeaderCellDef>TEAM</th>
      <td mat-cell *matCellDef="let team">
        <img [src]="logo + [team.name] + '.png'" />
        <a routerLink="/teams/{{ team.id }}"> {{ team.teamName }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="wl">
      <th mat-header-cell *matHeaderCellDef>W-L</th>
      <td mat-cell *matCellDef="let team">
        {{ team.totalWins }}-{{ team.totalLosses }}
      </td>
    </ng-container>

    <ng-container matColumnDef="pct">
      <th mat-header-cell *matHeaderCellDef>PCT</th>
      <td mat-cell *matCellDef="let team">
        {{ removeLeading(team.winPct | number : "1.3-3") }}
      </td>
    </ng-container>

    <ng-container matColumnDef="gb">
      <th mat-header-cell *matHeaderCellDef>GB</th>
      <td mat-cell *matCellDef="let team">{{ team.gamesBehind }}</td>
    </ng-container>

    <ng-container matColumnDef="pf">
      <th mat-header-cell *matHeaderCellDef>PF</th>
      <td mat-cell *matCellDef="let team">{{ team.pointsFor }}</td>
    </ng-container>

    <ng-container matColumnDef="pa">
      <th mat-header-cell *matHeaderCellDef>PA</th>
      <td mat-cell *matCellDef="let team">{{ team.pointsAgainst }}</td>
    </ng-container>

    <ng-container matColumnDef="diff">
      <th mat-header-cell *matHeaderCellDef>DIFF</th>
      <td
        mat-cell
        *matCellDef="let team"
        [style.color]="team.pointsDiff > 0 ? 'green' : 'red'"
      >
        {{ team.pointsDiff }}
      </td>
    </ng-container>

    <ng-container matColumnDef="strk">
      <th mat-header-cell *matHeaderCellDef>STRK</th>
      <td
        mat-cell
        *matCellDef="let team"
        [style.color]="team.strk.includes('W') ? 'green' : 'red'"
      >
        {{ team.strk }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
