<section id="bracket">
  <div class="container">
    <div class="split split-one">
      <div class="round round-one current">
        <div class="round-details">Round 1<br /></div>
        <ul class="matchup" *ngFor="let team of firstRound">
          <li class="team team-top">
            <img [src]="teamLogo + [team.team1] + '.png'" alt="team logo" />
            {{ team.team1 }}<span class="score">{{ team.wins1 }}</span>
          </li>
          <li class="team team-bottom">
            <img [src]="teamLogo + [team.team2] + '.png'" alt="team logo" />
            {{ team.team2 }}<span class="score">{{ team.wins2 }}</span>
          </li>
        </ul>
      </div>
      <!-- END ROUND ONE -->

      <div class="round round-two current">
        <div class="round-details">CONF. SEMIS<br /></div>
        <ul class="matchup" *ngFor="let team of secondRound">
          <li class="team team-top">
            <img [src]="teamLogo + [team.team1] + '.png'" alt="team logo" />
            {{ team.team1 }}<span class="score">{{ team.wins1 }}</span>
          </li>
          <li class="team team-bottom">
            <img [src]="teamLogo + [team.team2] + '.png'" alt="team logo" />
            {{ team.team2 }}<span class="score">{{ team.wins2 }}</span>
          </li>
        </ul>
      </div>
      <!-- END ROUND TWO -->

      <div class="round round-three current">
        <div class="round-details">CONF. FINALS<br /></div>
        <ul class="matchup" *ngFor="let team of conferenceFinals">
          <li class="team team-top">
            <img [src]="teamLogo + [team.team1] + '.png'" alt="team logo" />
            {{ team.team1 }}<span class="score">{{ team.wins1 }}</span>
          </li>
          <li class="team team-bottom">
            <img [src]="teamLogo + [team.team2] + '.png'" alt="team logo" />
            {{ team.team2 }}<span class="score">{{ team.wins2 }}</span>
          </li>
        </ul>
      </div>
      <!-- END ROUND THREE -->
    </div>

    <div class="champion">
      <div class="final">
        <i><mat-icon>emoji_events</mat-icon></i>
        <div class="round-details">championship <br /></div>
        <ul class="matchup championship current" *ngFor="let team of finals">
          <li class="team team-top">
            <img [src]="teamLogo + [team.team1] + '.png'" alt="team logo" />
            {{ team.team1 }}<span class="score">{{ team.wins1 }}</span>
          </li>
          <li class="team team-bottom">
            <img [src]="teamLogo + [team.team2] + '.png'" alt="team logo" />
            {{ team.team2 }}<span class="score">{{ team.wins2 }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
