<mat-card class="card {{ teamColors(team.name) }}">
  <mat-card-header>
    <div
      mat-card-avatar
      class="card-logo"
      [ngStyle]="{
        'background-image': 'url(' + logo + team.name + '.svg' + ')'
      }"
    ></div>
    <mat-card-title>{{ team.teamName }}</mat-card-title>
    <mat-card-subtitle
      >{{ team.totalWins }} - {{ team.totalLosses }} | {{ team.confRank }}th in
      {{ team.conference }} Conf.</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content> </mat-card-content>

  <mat-card-actions>
    <table>
      <tbody>
        <td>
          <p>{{ team.pointsFor | number : "1.1-1" }}</p>
          <span>20th</span>
          <p>PPG</p>
        </td>
        <td>
          <p>{{ team.pointsAgainst | number : "1.1-1" }}</p>
          <span>20th</span>
          <p>OPPG</p>
        </td>
        <td>
          <p>{{ team.rpg | number : "1.1-1" }}</p>
          <span>20th</span>
          <p>RPG</p>
        </td>
        <td>
          <p>{{ team.apg | number : "1.1-1" }}</p>
          <span>20th</span>
          <p>APG</p>
        </td>
        <td>
          <p>Home: {{ team.homeWins }}-{{ team.homeLosses }}</p>
          <p>Road: {{ team.roadWins }}-{{ team.roadLosses }}</p>
          <p>Streak: {{ team.strk }}</p>
        </td>
      </tbody>
    </table>
  </mat-card-actions>
</mat-card>
