<div class="container">
  <div class="container-title">
    <h1>NBALIGA LOTTERY</h1>
  </div>

  <div class="container-balls">
    <h6>1st</h6>
    <section class="stage">
      <figure class="ball">
        <span class="number">
          <img [src]="teamLogo + 'Lakers.svg'" id="team1" />
        </span>
      </figure>
    </section>
    <h6>2nd</h6>
    <section class="stage">
      <figure class="ball">
        <span class="number"
          ><img [src]="teamLogo + 'Warriors.svg'" id="team2"
        /></span>
      </figure>
    </section>
    <h6>3rd</h6>
    <section class="stage">
      <figure class="ball">
        <span class="number"
          ><img [src]="teamLogo + 'Knicks.svg'" id="team3"
        /></span>
      </figure>
    </section>
    <h6>4th</h6>
    <section class="stage">
      <figure class="ball">
        <span class="number"
          ><img [src]="teamLogo + 'Bulls.svg'" id="team4"
        /></span>
      </figure>
    </section>
  </div>
</div>
