<div class="container">
  <table class="container-table">
    <caption>
      FINALS HISTORY
    </caption>
    <tr *ngFor="let champ of champs">
      <td class="{{ teamColors(champ.champ) }}">{{ champ.season }}</td>
      <td class="{{ teamColors(champ.champ) }}">
        {{ champ.champ }}
        <span style="float: right"
          ><img [src]="logo + [champ.champ] + '.png'"
        /></span>
      </td>
      <td class="{{ teamColors(champ.champ) }}">{{ champ.champWins }}</td>
      <td class="{{ teamColors(champ.loser) }}">{{ champ.loserWins }}</td>
      <td class="{{ teamColors(champ.loser) }}">
        <span style="float: left">
          <img [src]="logo + [champ.loser] + '.png'" /></span
        >{{ champ.loser }}
      </td>
      <td class="{{ teamColors(champ.loser) }}"></td>
    </tr>
  </table>
</div>
