@import "../../../../../assets/scss/variables.scss";
@import "../../../../../assets/scss/teamsColors.scss";

.container {
  width: 100%;
  margin-top: 4rem;

  &-table {
    width: 100%;
    table-layout: fixed;
    background-color: $white;
    border-spacing: 0;
    padding: 0.2rem;
    font-size: 12px;

    text-align: center;

    caption {
      background-color: $white;
      padding: 0.8rem;
      text-align: left;
      font-weight: 800;
    }

    td {
      padding: 0.5rem;
      color: $white;
      border-bottom: 1rem solid $white;
      background-image: none;

      &:nth-child(2) {
        width: 7rem;
      }

      &:nth-child(5) {
        width: 7rem;
      }

      img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }
    }
  }
}
