<h5>PRESEASON</h5>
<div class="container">
  <ng-container *ngFor="let day of getUniqueDays(preseason)">
    <table cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>
            <span id="{{ day }}">{{
              getGameTypeName(day) + " DAY" + day
            }}</span>
          </th>
          <th></th>
          <th>RESULT</th>
          <th>PLAYER OF THE GAME</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of gamesByDayPre(day)">
          <td>
            <img [src]="teamLogo + [game.home] + '.svg'" />{{ game.home }}
          </td>
          <td>
            at <img [src]="teamLogo + [game.away] + '.svg'" />{{ game.away }}
          </td>
          <td>{{ game.homeScore }} - {{ game.awayScore }}</td>
          <td>{{ game.playerOfGame }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
<h5>REGULAR SEASON</h5>
<div class="container">
  <ng-container *ngFor="let day of getUniqueDays(regular)">
    <table cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>
            <span>{{ getGameTypeName(day) + " DAY" + day }}</span>
          </th>
          <th></th>
          <th>RESULT</th>
          <th>PLAYER OF THE GAME</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of gamesByDayReg(day)">
          <td>
            <img [src]="teamLogo + [game.home] + '.svg'" />{{ game.home }}
          </td>
          <td>
            at <img [src]="teamLogo + [game.away] + '.svg'" />{{ game.away }}
          </td>
          <td>{{ game.homeScore }} - {{ game.awayScore }}</td>
          <td>{{ game.playerOfGame }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
<ng-container *ngIf="playoffs.length">
  <h5>PLAYOFFS</h5>
  <div class="container">
    <ng-container *ngFor="let day of getUniqueDays(regular)">
      <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>
              <span>{{ getGameTypeName(day) + " DAY" + day }}</span>
            </th>
            <th></th>
            <th>RESULT</th>
            <th>PLAYER OF THE GAME</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let game of gamesByDayOff(day)">
            <td>
              <img [src]="teamLogo + [game.home] + '.svg'" />{{ game.home }}
            </td>
            <td>
              at <img [src]="teamLogo + [game.away] + '.svg'" />{{ game.away }}
            </td>
            <td>{{ game.homeScore }} - {{ game.awayScore }}</td>
            <td>{{ game.playerOfGame }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</ng-container>
