@import "../../../../../../assets/scss/variables.scss";
@import "../../../../../../assets/scss/teamsColors.scss";

.container {
  margin: 0.5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: first baseline;
  font-size: 11px;
  text-align: left;

  table {
    width: 98%;
    margin: 0.5rem;
    border: 0;
    white-space: nowrap;

    img {
      width: 30px;
      margin-right: 0.2rem;
      border-radius: 50%;
      vertical-align: middle;
    }

    thead {
      background-color: #1565c0;
      color: $white;
      span {
        margin-left: 0.5rem;
      }
      border: 1px solid red;
    }

    td {
      width: calc(100% / 4);
      font-weight: 800;
      background-color: #ececec;
      border: 1px solid #ececec;
    }
  }
}

@media only screen and (max-width: 480px) {
  .container {
    font-size: 9px;
  }
}
