<div class="container">
  <div class="container-header">
    <div class="away">
      <span>{{ game.away }}</span>
      <img [src]="imgLogo + game.away + '.svg'" />
      <span>{{ game.awayScore }}</span>
    </div>
    <div class="score">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>T</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>{{ game.awayQ1 }}</td>
            <td>{{ game.awayQ2 }}</td>
            <td>{{ game.awayQ3 }}</td>
            <td>{{ game.awayQ4 }}</td>
            <td>{{ game.awayScore }}</td>
          </tr>
          <tr>
            <td></td>
            <td>{{ game.homeQ1 }}</td>
            <td>{{ game.homeQ2 }}</td>
            <td>{{ game.homeQ3 }}</td>
            <td>{{ game.homeQ4 }}</td>
            <td>{{ game.homeScore }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="home">
      <span>{{ game.homeScore }}</span>
      <img [src]="imgLogo + game.home + '.svg'" />
      <span>{{ game.home }}</span>
    </div>
  </div>

  <div class="container-body">
    <mat-tab-group mat-align-tabs="center" color="primary">
      <mat-tab label="{{ game.away }}">
        <mat-table [dataSource]="awayStarter">
          <ng-container matColumnDef="playerName" sticky>
            <mat-header-cell *matHeaderCellDef>
              <img [src]="imgLogo + game.away + '.png'" />
              &nbsp;STARTERS</mat-header-cell
            >
            <mat-cell *matCellDef="let player">
              <a routerLink="/players/{{ player.id }}">{{
                player.playerName
              }}</a>
              <span> {{ getPosition(player.position) }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="minutes">
            <mat-header-cell *matHeaderCellDef>MIN</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.minutes }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="points">
            <mat-header-cell *matHeaderCellDef>PTS</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.points }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="rebounds">
            <mat-header-cell *matHeaderCellDef>REB</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.rebounds }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="assists">
            <mat-header-cell *matHeaderCellDef>AST</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.assists }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="steals">
            <mat-header-cell *matHeaderCellDef>STL</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.steals }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="blocks">
            <mat-header-cell *matHeaderCellDef>BLK</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.blocks }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="turnovers">
            <mat-header-cell *matHeaderCellDef>TO</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.turnovers }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fouls">
            <mat-header-cell *matHeaderCellDef>PF</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.fouls }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fg">
            <mat-header-cell *matHeaderCellDef>FG</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.fgm }}-{{ player.fga }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="3pt">
            <mat-header-cell *matHeaderCellDef>3PT</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.threePm }}-{{ player.threePa }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ft">
            <mat-header-cell *matHeaderCellDef>FT</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.ftm }}-{{ player.fta }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="plusMinus">
            <mat-header-cell *matHeaderCellDef>+/-</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.plusMinus }}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <mat-table [dataSource]="awayBench">
          <ng-container matColumnDef="playerName" sticky>
            <mat-header-cell *matHeaderCellDef
              ><img
                [src]="imgLogo + game.away + '.png'"
              />&nbsp;BENCH</mat-header-cell
            >
            <mat-cell *matCellDef="let player">
              <a routerLink="/players/{{ player.id }}">{{
                player.playerName
              }}</a>
              <span> {{ getPosition(player.position) }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="minutes">
            <mat-header-cell *matHeaderCellDef>MIN</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.minutes }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="points">
            <mat-header-cell *matHeaderCellDef>PTS</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.points }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="rebounds">
            <mat-header-cell *matHeaderCellDef>REB</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.rebounds }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="assists">
            <mat-header-cell *matHeaderCellDef>AST</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.assists }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="steals">
            <mat-header-cell *matHeaderCellDef>STL</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.steals }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="blocks">
            <mat-header-cell *matHeaderCellDef>BLK</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.blocks }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="turnovers">
            <mat-header-cell *matHeaderCellDef>TO</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.turnovers }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fouls">
            <mat-header-cell *matHeaderCellDef>PF</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.fouls }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fg">
            <mat-header-cell *matHeaderCellDef>FG</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.fgm }}-{{ player.fga }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="3pt">
            <mat-header-cell *matHeaderCellDef>3PT</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.threePm }}-{{ player.threePa }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ft">
            <mat-header-cell *matHeaderCellDef>FT</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.ftm }}-{{ player.fta }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="plusMinus">
            <mat-header-cell *matHeaderCellDef>+/-</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.plusMinus }}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </mat-tab>

      <mat-tab label="{{ game.home }}">
        <mat-table [dataSource]="homeStarter">
          <ng-container matColumnDef="playerName" sticky>
            <mat-header-cell *matHeaderCellDef>
              <img [src]="imgLogo + game.home + '.png'" />
              &nbsp;STARTERS</mat-header-cell
            >
            <mat-cell *matCellDef="let player">
              <a routerLink="/players/{{ player.id }}">{{
                player.playerName
              }}</a>
              <span> {{ getPosition(player.position) }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="minutes">
            <mat-header-cell *matHeaderCellDef>MIN</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.minutes }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="points">
            <mat-header-cell *matHeaderCellDef>PTS</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.points }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="rebounds">
            <mat-header-cell *matHeaderCellDef>REB</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.rebounds }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="assists">
            <mat-header-cell *matHeaderCellDef>AST</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.assists }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="steals">
            <mat-header-cell *matHeaderCellDef>STL</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.steals }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="blocks">
            <mat-header-cell *matHeaderCellDef>BLK</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.blocks }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="turnovers">
            <mat-header-cell *matHeaderCellDef>TO</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.turnovers }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fouls">
            <mat-header-cell *matHeaderCellDef>PF</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.fouls }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fg">
            <mat-header-cell *matHeaderCellDef>FG</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.fgm }}-{{ player.fga }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="3pt">
            <mat-header-cell *matHeaderCellDef>3PT</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.threePm }}-{{ player.threePa }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ft">
            <mat-header-cell *matHeaderCellDef>FT</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.ftm }}-{{ player.fta }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="plusMinus">
            <mat-header-cell *matHeaderCellDef>+/-</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.plusMinus }}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <mat-table [dataSource]="homeBench">
          <ng-container matColumnDef="playerName" sticky>
            <mat-header-cell *matHeaderCellDef
              ><img
                [src]="imgLogo + game.home + '.png'"
              />&nbsp;BENCH</mat-header-cell
            >
            <mat-cell *matCellDef="let player">
              <a routerLink="/players/{{ player.id }}">{{
                player.playerName
              }}</a>
              <span> {{ getPosition(player.position) }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="minutes">
            <mat-header-cell *matHeaderCellDef>MIN</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.minutes }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="points">
            <mat-header-cell *matHeaderCellDef>PTS</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.points }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="rebounds">
            <mat-header-cell *matHeaderCellDef>REB</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.rebounds }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="assists">
            <mat-header-cell *matHeaderCellDef>AST</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.assists }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="steals">
            <mat-header-cell *matHeaderCellDef>STL</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.steals }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="blocks">
            <mat-header-cell *matHeaderCellDef>BLK</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.blocks }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="turnovers">
            <mat-header-cell *matHeaderCellDef>TO</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.turnovers }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fouls">
            <mat-header-cell *matHeaderCellDef>PF</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.fouls }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fg">
            <mat-header-cell *matHeaderCellDef>FG</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.fgm }}-{{ player.fga }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="3pt">
            <mat-header-cell *matHeaderCellDef>3PT</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.threePm }}-{{ player.threePa }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ft">
            <mat-header-cell *matHeaderCellDef>FT</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.ftm }}-{{ player.fta }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="plusMinus">
            <mat-header-cell *matHeaderCellDef>+/-</mat-header-cell>
            <mat-cell *matCellDef="let player">
              {{ player.plusMinus }}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
