@import "../../../../../../assets/scss/variables.scss";
@import "../../../../../../assets/scss/teamsColors.scss";

.container {
  width: 100%;
  color: $white;
  white-space: nowrap;

  &-header {
    display: flex;
    height: 8rem;
    background-image: none;

    .away {
      margin-top: 0.5rem;
      width: 50%;
      text-align: right;
    }
    .home {
      margin-top: 0.5rem;
      width: 50%;
      text-align: left;
    }

    span {
      font-size: 20px;
      font-weight: 800;
      margin: 1rem;
    }

    img {
      width: 6rem;
      margin: 0.5rem;
      vertical-align: middle;
    }

    table {
      border-collapse: collapse;
      margin-top: 1.5rem;
      font-size: 12px;

      tr:nth-child(1) {
        border-top: 1pt solid $white;
      }
    }
  }

  &-body {
    width: 98%;
    margin: 0 auto;
    .box-stats {
      font-size: 12px;
      border: 1px solid #ececec;

      td:nth-child(1) {
        width: 10rem;
      }

      img {
        width: 30px;
        margin-right: 0.5rem;
        border-radius: 50%;
        vertical-align: middle;
      }

      a {
        color: #1565c0;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .awayBench,
    .homeBench {
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;

    &-header {
      height: 7rem;

      .away,
      .home {
        margin-top: 1.5rem;
      }

      span {
        font-size: 10px;
        font-weight: 800;
        margin: 0.4rem;
      }

      img {
        width: 3rem;
        margin: 0.1rem;
        vertical-align: middle;
      }

      table {
        margin-top: 1.5rem;
        font-size: 9px;
      }
    }

    &-body {
      width: 100%;

      .box-stats {
        white-space: nowrap;
        font-size: 12px;

        td:nth-child(1) {
          a {
            margin-right: 4rem;
            color: red;
          }
        }
      }
    }
  }
}
