<div class="container">
  <mat-card
    class="player-card {{ teamColors(player.currentTeam) }}"
    *ngFor="let player of players"
  >
    <mat-card-header>
      <div
        class="player-card-img"
        mat-card-avatar
        [ngStyle]="getPlayerPic(player.lastName, player.firstName)"
      ></div>
      <mat-card-title
        ><span>{{ player.firstName }}</span>
        <p>{{ player.lastName }}</p></mat-card-title
      >
      <mat-card-subtitle>{{
        getPosition(player.positionNumber)
      }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="player-card-info">
        <p>
          <img [src]="ratingColors(player.currentRating)" />
          <img [src]="ratingColors(player.futureRating)" />
          <span>{{ getExp(player.experience) }}</span>
        </p>
        <p>
          <span>
            {{ getHeight(player.height) }}, {{ player.weight }} lbs,
            {{ player.age }} years</span
          >
        </p>
        <p>
          <span>$ {{ player.contract1 | number }} (4)</span>
        </p>
        <p><span>15.3 PPG - 15.3 APG - 11.4 RPG</span></p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
