<h5>Player Ratings</h5>
<div class="container">
  <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
      [colors]="chartOptions.colors"
      [dataLabels]="chartOptions.dataLabels"
      [tooltip]="chartOptions.tooltip"
      [plotOptions]="chartOptions.plotOptions"
      [markers]="chartOptions.markers"
      [yaxis]="chartOptions.yaxis"
      [fill]="chartOptions.fill"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>

  <div id="chart">
    <apx-chart
      [series]="chartOptions2.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions2.xaxis"
      [stroke]="chartOptions.stroke"
      [colors]="chartOptions.colors"
      [dataLabels]="chartOptions.dataLabels"
      [tooltip]="chartOptions.tooltip"
      [plotOptions]="chartOptions.plotOptions"
      [markers]="chartOptions.markers"
      [yaxis]="chartOptions.yaxis"
    ></apx-chart>
  </div>

  <div id="chart" class="container-personality">
    <apx-chart
      [series]="chartOptions3.series"
      [chart]="chartOptions4.chart"
      [xaxis]="chartOptions3.xaxis"
      [stroke]="chartOptions4.stroke"
      [colors]="chartOptions4.colors"
      [dataLabels]="chartOptions4.dataLabels"
      [tooltip]="chartOptions4.tooltip"
      [plotOptions]="chartOptions4.plotOptions"
      [markers]="chartOptions4.markers"
      [yaxis]="chartOptions4.yaxis"
    ></apx-chart>
  </div>

  <div id="chart" class="container-personality">
    <apx-chart
      [series]="chartOptions4.series"
      [chart]="chartOptions4.chart"
      [xaxis]="chartOptions4.xaxis"
      [stroke]="chartOptions4.stroke"
      [colors]="chartOptions4.colors"
      [dataLabels]="chartOptions4.dataLabels"
      [tooltip]="chartOptions4.tooltip"
      [plotOptions]="chartOptions4.plotOptions"
      [markers]="chartOptions4.markers"
      [yaxis]="chartOptions4.yaxis"
    ></apx-chart>
  </div>
</div>
