<div class="container">
  <div class="container-profile">
    <mat-card class="{{ team }}">
      <p>{{ userName }}</p></mat-card
    >
  </div>

  <div class="container-select">
    <mat-card class="profile {{ team }}">
      <img src="assets/images/utils/trade.svg" />
      <span>Trade</span>
    </mat-card>

    <mat-card class="profile {{ team }}" routerLink="/rotation">
      <img src="assets/images/utils/clipboard.svg" />
      <span>Rotação</span>
    </mat-card>

    <mat-card class="profile {{ team }}">
      <img src="assets/images/utils/negotiation.svg" />
      <span>FA</span>
    </mat-card>

    <mat-card class="profile {{ team }}">
      <img src="assets/images/utils/gameplan.svg" />
      <span>Gameplan</span>
    </mat-card>
  </div>
</div>
