.sidenav {
  height: 100%;
  white-space: nowrap;

  &-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
  }

  &-logo {
    justify-content: center;
    span {
      margin-left: 0.8rem;
      font-size: 20px;
      font-weight: 700;
    }
  }

  &-list {
    width: 13rem;

    .mat-icon {
      margin-right: 10px;
      vertical-align: text-bottom;
    }
  }
}

.team-link {
  text-decoration: none;
  white-space: nowrap;
  font-size: 12px;
  color: #000;
  &:hover {
    color: #1565c0;
  }
}

img {
  width: 25px;
}
