<mat-drawer-container class="sidenav" autosize>
  <mat-toolbar color="primary" class="sidenav-toolbar">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer
    #drawer
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
    mode="side"
    [opened]="isMenuOpen"
  >
    <mat-toolbar color="primary" class="sidenav-logo">
      <mat-icon>sports_basketball</mat-icon> <span>NBALIGA</span></mat-toolbar
    >
    <mat-nav-list class="sidenav-list">
      <a mat-list-item href="#"><mat-icon>home</mat-icon>Home</a>
      <a mat-list-item href="#"><mat-icon>emoji_events</mat-icon>Liga</a>
      <a mat-list-item href="#"><mat-icon>groups</mat-icon>Times</a>
      <a mat-list-item href="#"><mat-icon>percent</mat-icon>Estatísticas</a>
      <a mat-list-item href="#"><mat-icon>account_tree</mat-icon>Playoffs</a>
      <a mat-list-item href="#"
        ><mat-icon>business_center</mat-icon>Pós-Temporada</a
      >
      <a mat-list-item href="#"><mat-icon>login</mat-icon>Login</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
