.container {
  width: 100%;

  h1 {
    text-align: center;
    color: #1565c0;
  }

  mat-card {
    width: 22rem;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;

    img {
      width: 30px;
    }

    mat-form-field,
    button {
      width: 100%;
    }
  }
}
