@import "../../../../../assets/scss/variables.scss";
@import "../../../../../assets/scss/teamsColors.scss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  mat-form-field {
    margin: 0 0.5rem;
  }
}

.container {
  width: 99%;
  margin: 0.5rem auto;
  overflow-y: auto;

  table {
    width: 100%;
    border: 1px solid #ececec;
    white-space: nowrap;

    a {
      color: #1565c0;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    th {
      font-size: 10px;
    }

    td {
      font-size: 10px;

      img {
        max-width: 25px;
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .container {
      width: 100%;
    }
  }
}
