@import "../../../../../assets/scss/variables.scss";
@import "../../../../../assets/scss/teamsColors.scss";

.container {
  margin: 0 auto;
  justify-content: first baseline;
  border: 1px solid #ececec;
  background-color: $white;
  text-align: center;

  p {
    margin: 0.5rem;
    font-size: 10px;

    img {
      width: 20px;
      vertical-align: middle;
    }
  }
}

@media only screen and (max-width: 480px) {
  .container {
    justify-content: space-between;
    p {
      margin: 0.4rem;
      font-size: 10px;
    }
  }
}
